* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal: #2980b9;
    --corSecundaria: aliceblue;
    --corFundoLink: #8e44ad;
}

input {
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 40px;
}